/*
Scarlet: #BA0621
Wine Red: #6C0918
Very Dark Brown: #0B0101
Lipstick: #CC1D36
*/

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}


h1{
  font-family: "Kanit", sans-serif;
  font-size: 7.25rem;
  line-height: 6rem;
  letter-spacing: 1px;
  color: #cc1d36;
}

h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 2.625rem;
}

p{
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
}

button{
  font-family: 'Kanit', sans-serif;
  font-size: 1.25rem;
  line-height: 1.8rem;
  border: none;
  color: white;
  
}

.read-more {
  background-color: #CC1D36;
  padding: 0.5rem 1rem;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

header {
  background: url(./assets/image-1@2x.png) center no-repeat;
  background-size: cover;
  height: 80vh;
}

header .wrapper nav {
  color: white;
}

nav .nav-left,
nav .nav-right {
  margin-top: 1.5rem;
}

header .wrapper nav .nav-left {
  float: left;
}

header .wrapper nav .nav-left h2{
  font-family: "Kanit", sans-serif;
  line-height: 29px;
  font-size: 1.5rem;
}

header .wrapper nav .nav-right {
  float: right;
}

.header-navigation{
  color: white;
  margin: 0 1rem;
  line-height: 1.8rem;
  font-family: "Catamaran", sans-serif;
}

/* header .wrapper nav .nav-right a {
  color: white;
  margin: 0 1rem;
  line-height: 29px;
} */

header .wrapper .text {
  position: absolute;
  bottom: 10rem;
  left: 0px;
}

/* header .wrapper .text h1 {
  font-family: "Kanit", sans-serif;
  font-size: 7.25rem;
  line-height: 6rem;
  letter-spacing: 1px;
  color: #cc1d36;
} */

header .wrapper .text h1 span {
  display: block;
}

header .wrapper .text p {
  padding-top: 1rem;
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 1.9rem;
  line-height: 1.9rem;
  letter-spacing: 0.3px;
}

header .wrapper .icons {
  position: absolute;
  bottom: 50px;
  right: -200px;
}

header .wrapper .icons i {
  color: white;
  text-align: center;
  display: block;
  margin: 1rem 0;
}

.news-articles {
  height: 100%;
}

.news-articles .wrapper h2 {
  text-align: center;
  font-family: "Kanit", sans-serif;
  font-size: 2.65rem;
  margin: 5rem 0;
}

.news-articles .wrapper .image-grid {
  width: 100%;
  margin: 5rem 0;
}

.image-grid .img-wrapper {
  float: left;
  width: calc((100% / 3) - (4rem / 3));
}

.image-grid .img-wrapper img {
  width: 100%;
  height: auto;
}


.grid-2 {
  margin: 0 2rem;
}

.featured-article{
  margin-bottom: 5rem;
  height: 100%;
  position: relative;
}

.featured-article .img-wrapper {
  float: left;
  width: 25%;
  padding-right: 2rem;
}

.featured-article .img-wrapper img {
  width: 100%;
}

.featured-article .text {
  width: 75%;
  float: right;
  height: 100%;
}

.featured-article .text h2 {
  text-align: left;
  margin: 0;
}

.featured-article .read-more{
  position: absolute;
  bottom: 0;
}


.article-full h2, p {
  margin-bottom: 1rem;
}

.article-full .article-left{
  float: left;
  width: 50%;
}


.article-full .article-right{
  float: right;
  width: 50%;
}

.article-full .article-left img, .article-full .article-right img{
  width: 100%
}

.article-full:nth-of-type(even) .article-right{
  padding-right: calc((100vw - 1200px)/2);
  padding-top: 5rem;
  padding-left: 5rem;
}



.article-full:nth-of-type(odd) .article-left{
  padding-left: calc((100vw - 1200px)/2);
  padding-top: 5rem;
  padding-right: 5rem;
}

.quick-links{
  color: white;
  font-family: 'Kanit', sans-serif;
  height: 15rem;
  /* background-image: url(./assets/oscar-aguilar-327500-unsplash@2x.png); */
  background-size: cover; 
  background: url(./assets/oscar-aguilar-327500-unsplash@2x.png) no-repeat center; 
  text-align: center;
  padding-top: 5rem
}

.icon {
  float: left;
  width: calc(100% / 3);
}

.icon i{
  color: #CC1D36;
  margin-bottom: 1rem;
}

.icon h3{
  font-size: 1.75rem;
}


footer{
  color: white;
  font-family: "Kanit", sans-serif;
  background-color: #6C0918;
  height: 17rem;
  padding-top: 5rem;
}

footer h4{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

footer .newsletter{
  float: left;
  width: 50%;
  /* padding-right: 10%; */
}

footer .newsletter form{
  width: 100%;
}

footer .newsletter p{
  margin-bottom: 0.5rem;
}

footer .newsletter input{
  float: left;
  padding-left: 1rem;
  height: 3rem;
  width: 75%;
  border: none;
}

footer .newsletter button{
  background-color: black;
  float: left;
  height: 3rem;
  width: 25%;
}

footer .right-footer{
  float: left;
  width: 50%;
  padding-left: 5%;
}

footer .right-footer .contact{
  float: left;
  width: 60%;
}

footer .right-footer .footer-links{
  float: right;
  width: 40%;
  text-align: right;
  
}

footer a{
  color: white;
  font-size: 1.25rem;
}

footer li{
  margin-bottom: 0.5rem;
}

footer .copyright{
  text-align: center;
  height: 2.25rem;
  padding-top: 0.25rem;
  background: #0B0101;
}

footer .copyright p{
  font-size: 1rem;
}


/* Large Tablets */
@media only screen and (max-width: 1200px){
  .wrapper{
    width: 950px;
  }

  h2 {
    font-size: 2.5rem;
  }

  p{
    font-size: 1.15rem;
    line-height: 1.75rem;
  }

  .featured-article .read-more{
    position: relative;
  }

  .article-full:nth-of-type(even) .article-right{
    padding-right: calc((100vw - 950px)/2);
    padding-top: 2rem;
    padding-left: 1.5rem;
  }

  .article-full:nth-of-type(odd) .article-left{
    padding-left: calc((100vw - 950px)/2);
    padding-top: 2rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-width: 992px){
  .wrapper{
    width: 720px;
  }

  h1{
  font-size: 5.5rem;
  }

  .featured-article .img-wrapper{
    padding-right: 1rem;
  }

  .featured-article .text{
    float: none;
    width: 100%;
  }

  

  .article-full{
    margin-bottom: 2rem;
  }
  

  .article-full .article-left{
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }
  .article-full .article-right{
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }

  .article-full:nth-of-type(even) .article-right{
   
    padding-left: 0;
    
    width: 85%;
    text-align: center;
   
  }

  .article-full:nth-of-type(odd) .article-left{
    padding-right: 0;
    width: 85%;
    text-align: center;
  }

  .article-full .read-more{
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
  }

  .article-full p{
    margin-top: 1rem;
  }

  footer .newsletter input{
    float: left;
    padding-left: 1rem;
    height: 3rem;
    width: 100%;
    border: none;
  }
  
  footer .newsletter button{
    background-color: black;
    float: left;
    height: 3rem;
    width: 100%;
  }

  footer .right-footer p{
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 767px){
  .wrapper{
    width: 520px;
  }

  footer{
    height: auto;
  }
  footer .wrapper{
    padding-bottom: 2rem;
  }

  footer .copyright p{
    margin-bottom: 0;
  }
}

/* Mobile Phones */
@media only screen and (max-width: 576px) {
  .icons{
    display: none;
  }

  .wrapper{
    width: 90%
  }


  .news-articles .wrapper h2 {
    margin: 2rem 0;
  }

  .news-articles .wrapper .image-grid{
    margin: 0 0 5rem 0;

  }

  .image-grid{
    margin-bottom: 5rem;
  }

  .image-grid .img-wrapper {
    /* float: left; */
    width: 45%;
  }

  .grid-1{
    float: left;
    margin: 0;
    margin-right: 5%;
  }

  .grid-2{
    float: right;
    margin: 0;
    margin-left: 5%;
  }

  .grid-3{
    display: none;
  }


  .featured-article .img-wrapper{
    float: none;
    width: 100%;
    margin: 0 auto;
    padding-right: 0;
  }

  .featured-article .text{
    float: none;
    width: 100%;
  }

  .featured-article .read-more{
    position: relative;
    bottom: 0;
  }

  .article-full{
    margin-bottom: 5rem;
  }
  

  .article-full .article-left{
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }
  .article-full .article-right{
    width: 100%;
    float: none;
    margin: 0 auto;
    padding-right: 0;
  }


  .article-full .read-more{
    margin-top: 2rem;
    padding: 0.75rem 1.5rem;
  }

  .article-full p{
    margin-top: 1rem;
  }

  .quick-links{
    height: auto;
    padding-top: 1rem;
    
  }

  .quick-links .wrapper{
    padding: 3rem 0; 
  }

  .icon{
    float: none;
    width: 100%; 
  }

  .icon:nth-of-type(2){
    padding: 3rem 0;
  }

  footer .newsletter{
    float: none;
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }

  footer .newsletter button,
  footer .newsletter input {
    float: none;
    width: 100%;
    margin-top: 0.5rem;
  }

  footer .right-footer{
    margin-top: 2rem;
    float: none;
    width: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }

  footer .right-footer p{
    margin-bottom: 0;
  }

  footer .copyright{
    height: auto;
    padding: 0;
  }

  footer .copyright p{
    margin-bottom: 0;
  }
  
}

